<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UMC6thWit"
        tools:targetApi="31">
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity
            android:name=".PriceActivity"
            android:exported="false" />
        <activity
            android:name=".home.notice.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/MainTheme">
        </activity>
        <activity
            android:name=".login.OnboardingActivity"
            android:exported="false"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true"
            android:theme="@style/LoginTheme" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".wish.FolderActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".home.ProductDetailActivity"
            android:exported="false"/>
        <activity android:name=".home.ReviewMinActivity"
            android:exported="false"/>
        <activity
            android:name=".home.CustomActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.UMC6thWit"/>
        <activity
            android:name=".home.FoodActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.UMC6thWit" />
    </application>

</manifest>